;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Dec 10 14:59:57 2008
;; Desktop file format version 206
;; Emacs version 22.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("dy" "gt" "solver" "sti" "setsolver" "setso" "solvertouse" "solvert" "solverToUse" "solvertouse" "solver" "solverT" "fo" "blogger"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "d:/Program Files/emacs-22.3/Home/.emacs"
  ".emacs"
  'emacs-lisp-mode
  nil
  1208
  '(517 t)
  nil
  nil
  '((buffer-file-coding-system . mule-utf-8-dos)))

(desktop-create-buffer 206
  "g:/1. Work/6. Reproduction/6. circadian/msb isoform/cfiles/cfiles/main.cpp"
  "main.cpp"
  'c++-mode
  '(abbrev-mode)
  401
  '(7969 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "g:/1. Work/6. Reproduction/6. circadian/msb isoform/cfiles/cfiles/sobol.h"
  "sobol.h"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "g:/1. Work/6. Reproduction/6. circadian/msb isoform/cfiles/cfiles/solver.cpp"
  "solver.cpp"
  'c++-mode
  '(abbrev-mode)
  7458
  '(7625 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "g:/1. Work/6. Reproduction/6. circadian/msb isoform/cfiles/cfiles/wt.cpp"
  "wt.cpp"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "g:/1. Work/6. Reproduction/6. circadian/msb isoform/cfiles/cfiles/base_genotype.cpp"
  "base_genotype.cpp"
  'c++-mode
  '(abbrev-mode)
  392
  '(1 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "cfiles"
  'dired-mode
  nil
  309
  '(nil nil)
  t
  '("g:/1. Work/6. Reproduction/6. circadian/msb isoform/cfiles/cfiles/")
  nil)

(desktop-create-buffer 206
  "d:/Program Files/emacs-22.3/Home/.newsrc-dribble"
  ".newsrc-dribble"
  'fundamental-mode
  nil
  235
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . chinese-iso-8bit)))

